*{
  margin: 0;
  padding: 0;
}
html{
  overflow-x: hidden;
  min-height: 500px;
}
body{
  font-size: $base-font-size;
  font-family: $Primary-font !important;
  color: $dark;
  background: #222431;
  line-height: 1.6;

}

a {
  color: Primary-font;
  text-decoration: none;
  cursor: pointer !important;
}

img{
  max-width: 100%;
  height: auto;
}
// typography
p, button, input, textarea{
  font-family: inherit;
}
h1, h2, h4, h5, h5, h6{
  font-weight: 600;
  font-family: $Secondary-font;
  color: inherit;
  margin-bottom: 2rem;
}
h2, h3, h4, h5, h6{
  line-height: 1.25;
}
h1, .h1{
  font-size: $h1;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 40px;
  @media only screen and (max-width: 767px){
    font-size: 48px;
  }
}
h2, .h2{
  font-size: $h2;
  font-weight: bold;
  margin-bottom: 3.5rem;
  @media only screen and (max-width: 580px){
    margin-bottom: 2rem
  }
}
h3, .h3{
  font-size: $h3;
  font-family: 'Montserrat';
}
  
h4, .h4{
  font-size: $h4;
}
h5, .h5{
  font-size: $h5;
}
h6, .h6{
  font-size: $h6;
}

p{
  margin-bottom: 15px;
}


.first-section {
  background-image: linear-gradient(to bottom, var(--dark), rgba(34, 36, 49, 0.02) 48%, rgba(34, 36, 49, 0));
}
.btn, button.btn {
  font-family: Oxygen !important;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background: $azure;
  height: 48px;
  border-radius: 4px;
  padding: 12px 30px;
  border: 0;
  outline: 0;
  font-size: inherit !important;
  cursor: pointer;
}
section {
  text-align: center;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}